.wrapper {
  display: flex;
  justify-content: center;
  background-color: #22caff;
}

.content {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.wrapper_tya {
  display: flex;
  align-items: center;
  gap: 10px
}

.btn_logout {
  background-color: red;
  padding: 6px 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.btn_logout:hover {
  background-color: brown;
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
