.wrapper {
  display: flex;
  justify-content: center;
  background-color: #22caff;
}

.content {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}


@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
